
.button {
    
	position: relative;
	
	
}

#rock {

    color: blue;	
	
	
}
#scissors {

    color: green;	
	
	
}
#paper {

    color: red;	
	
	
}
#aiChoice {
	
	color: violet;
	
}
.spans {
	
	position: relative;
	background-color: pink;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 2px black;
	
	
}
